@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oranienbaum&display=swap');
//Fonts

@font-face {
  font-family: 'Golos_regular';
  src: url("fonts/Golos/golos-text_regular.ttf");
}
@font-face {
  font-family: 'Golos_bold';
  src: url("fonts/Golos/golos-text_bold.ttf");
}
@font-face {
  font-family: 'Golos_demibold';
  src: url("fonts/Golos/golos-text_demibold.ttf");
}
@font-face {
  font-family: 'Golos_medium';
  src: url("fonts/Golos/golos-text_medium.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Golos_regular', sans-serif;
  margin: 0;
  font-size: 16px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
li {
  list-style-type: none;
}

//Variables

//Styles
.wrapper {
  max-width: 100%;
  background: #FAFAFA;
}

.container {
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}


//HEADER

.header {
  background: url("../src/image/background/background.png") 0 0/100% auto no-repeat;
  min-height: 800px;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 12px;

    &__logo {
      font-weight: 600;
      font-size: 20px;
    }

    &__nav-link {
      font-size: 16px;
      margin-left: 18px;
    }
  }

  &-content {
    display: flex;
    height: 690px;
    align-items: center;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 98px;

    &__text {
      width: 466px;
      height: 325px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 60px;

      span {
        font-size: 14px;
        padding-top: 4px;
        letter-spacing: 1px;
      }

      &-title {
        font-size: 72px;
        font-weight: 600;
      }

      &-subtitle {
        font-size: 20px;
        font-weight: 400;
        padding-top: 16px;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 253px;
        height: 64px;
        margin-top: 46px;
        background-color: #25252C;
        border-radius: 55px;
        border: 0;
        font-size: 14px;
        transition: .3s ease-in-out all;
        cursor: pointer;

        &:hover {
          background-color: #38384e;
        }

        img {
          margin-right: 10px;
          padding-top: 4px;
        }
      }
    }

    &__circle {
      position: relative;
      margin-top: auto;
      margin-bottom: 19px;

      &-arrow img {
        position: absolute;
        right: 110px;
        top: 74px;
        height: 80px;
        width: 8px;
      }
      svg {
        animation: 25s linear 0s normal none infinite running rotation;
        width: 227px;
        height: 227px;
      }
    }
  }
}

text {
  font-size: 12px;
  font-family: Franklin Gothic, sans-serif;
  font-weight: 200;
  fill: white;
  text-transform: uppercase;
  letter-spacing: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//ABOUT

.about-wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  height: 800px;
  padding-left: 60px;
  padding-right: 138px;
}
.about-video__wrapper {
  width: 376px;
  height: 221px;
  z-index: 2;
  margin-left: auto;
  background: url("../src/image/video/video.png") no-repeat 100% 100%;
  img {
    cursor: pointer;
    position: relative;
    top: 41%;
    left: 34%;
    transition: .3s ease-in-out all;
    &:hover {
      transform: scale(1.1);
    }
  }

}

.about {
  background: linear-gradient(0deg, #1E262F, #1E262F), #181C1D;

  &-label {
    text-align: center;
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, 0.1);
    margin-top: auto;
    margin-bottom: auto;
  }

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-right: auto;
    margin-left: 44px;
    cursor: pointer;

    &__tab {
      line-height: 123%;
      transition: .3s;
      opacity: 0.25;
      padding: 5px;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }

      &.active {
        transform: scale(1.3);
        opacity: 1;
      }
    }
  }

  &-content {
    display: none;

    &.active {
      display: flex;
      opacity: 0;
      animation: fadeout 1s ease-in-out .1s forwards;
    }

    &__about-title {
      font-family: 'Oranienbaum', serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      font-size: 56px;
      font-weight: 400;
      padding-bottom: 148px;
    }

    &__about-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 33px;
      gap: 16px;
      width: 455px;
      font-family: 'Inter', sans-serif;
      font-size: 16px;

      p {
        margin: 0;
        line-height: 114%;
      }
    }

    &__about-video {
      margin-left: auto;
      padding-bottom: 28px;
    }

    &__author-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      padding-left: 10px;
    }

    &__author-title {
      font-family: 'Oranienbaum', serif;
      font-size: 56px;
      font-weight: 400;
    }

    &__author-photo {
      width: 290px;
      height: 380px;
      padding-top: 172px;
      padding-bottom: 247px;
    }

    &__why-description {
      font-family: 'Inter', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 650px;

      li {
        color: rgba(255, 255, 255, 0.8);
        list-style-type: disc;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &__why-photo {
      margin-right: auto;
      margin-left: 20px;
    }
  }
}

//ADVANTAGES

.advantages {
  height: 566px;
  padding-left: 98px;
  padding-right: 98px;
  background: #FAFAFA url("../src/image/advantages/houseBg.png") no-repeat 94% 100%;

  &__title, {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #1F252D;
    padding-top: 56px;
    padding-bottom: 48px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
  }
  &-item {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 1px solid #A0A0A0;
    }
    &__description {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      color: #1F252D;
      margin-left: 24px;
    }
  }
}

//PROJECTS

.projects {
  height: 800px;
  background: #FAFAFA;
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #1F252D;
    padding-top: 50px;
    padding-bottom: 30px;
  }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 283px;
      height: 64px;
      margin: 34px auto 60px;
      background-color: #25252C;
      border-radius: 55px;
      border: 0;
      font-size: 14px;
      cursor: pointer;
      transition: .3s ease-in-out all;
      &:hover {
        background-color: #38384e;
      }
    }
}

//Блюр по бокам от слайдера

.swiper::before, .swiper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 154px;
  background: #FAFAFA;
  filter: blur(100px);
  z-index: 2;
}
.swiper::before {
  left: -50px;
}
.swiper::after {
  right: -50px;
}



.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #25252C;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: #38384e;
  }
  &:after {
    content: '';
  }
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
  }
}
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #25252C;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: #38384e;
  }
  &:after {
    content: '';
  }
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.swiper-slide{
  max-width: 380px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  transition: .3s all ease-in-out;
  cursor: pointer;
  margin: 10px;
  &:hover {
    box-shadow: 5px 2px 10px 0 rgba(34, 60, 80, 0.2);
  }

}
.slide-inner {
  padding: 18px 18px 21px 18px;
  color: #1F252D;
  &__title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-item {
      display: flex;
      align-items: center;
      &:nth-child(even){
        padding-left: 32px;
      }
      p {
        margin-left: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;

    p {
      margin: 0 0 8px;
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #1F252D;
      border-radius: 50%;
      cursor: pointer;
      width: 52px;
      height: 52px;
      transition: all .3s ease-in-out;
      &:hover {
        background: #dcd9d9;
      }
    }
    &-border {
      position: absolute;
      width: 100%;
      left: 0;
      border-color: rgba(235, 235, 236, 0.25);
      margin-top: 10px;
    }
  }
}
//BUILDING

.building {
  height: 600px;
  background: #FAFAFA;

  &-buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    &__button {
      cursor: pointer;
      width: 66px;
      height: 108px;
      &.active {
        .building-buttons__button-image {
          background-color: #25252C;
          box-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
          -3px 35px 21px rgba(0, 0, 0, 0.05),
          -1px 16px 16px rgba(0, 0, 0, 0.09),
          0px 4px 9px rgba(0, 0, 0, 0.1),
          0px 0px 0px rgba(0, 0, 0, 0.1),
          inset 0px 4px 28px rgba(0, 0, 0, 0.1);
        }
        p {
          color: #25252C;
        }
      }
    }

    &__button-image {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid #A0A0A0;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #25252C;
      }
    }
    p {
      color: rgba(2, 2, 2, 0.25);
      text-align: center;
      margin-top: 8px;
    }
  }
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 35px;
    &__description {
      color: #020202;
      width: 455px;
      h2 {
        font-family: 'Oranienbaum', serif;
        font-size: 56px;
      }
      h4 {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 42px;
      }
      p {
        color: rgba(2, 2, 2, 0.8);

        text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
        -3px 35px 21px rgba(0, 0, 0, 0.05),
        -1px 16px 16px rgba(0, 0, 0, 0.09),
        0px 4px 9px rgba(0, 0, 0, 0.1),
        0px 0px 0px rgba(0, 0, 0, 0.1);
      }
    }
    &__video {
      width: 594px;
      height: 410px;
      background: url("../src/image/building/video.png") no-repeat 100% 100%;
      img {
        cursor: pointer;
        position: relative;
        top: 50%;
        left: 50%;
        transition: 0.3s ease-in-out all;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

  }
}
//PROGRESS

.progress {
  background: #FAFAFA;
  &__title {
    color: #1F252D;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 44px;
  }
  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F252D;
    gap: 24px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 24px;
    &__tab {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 240px;
      height: 70px;
      background: #FFFFFF;
      border-radius: 12px;
      transition: all .5s ease-in-out;
      &:hover {
        background: #1F252D;
        color: #FFFFFF;
      }
      &.active {
        background: linear-gradient(0deg, #1F252D, #1F252D),
        #FFFFFF;
        color: #FFFFFF;
      }
    }
  }
  &-content {
    display: none;
    width: 1296px;
    height: 559px;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 0 auto;
    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
//QUIZ

//TODO Вытащить все дивы из LABEL
.quiz {
  background-color: #FAFAFA;
  color: #25252C;
  font-weight: 600;
  text-align: center;
  padding-bottom: 72px;
  &__subtitle {
    font-size: 16px;
    padding-top: 74px;
    margin-bottom: 12px;
  }
  &__title {
    font-size: 32px;
    width: 748px;
    margin: 0 auto;
    padding-bottom: 36px;
  }
}
.quiz-calculator {
  height: auto;
  background-color: #1F252D;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  ul {
    padding-inline-start: 0;
  }
  &__next-count {
    span {
      font-size: 20px;
    }
  }
  &__next {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    &-button {
      cursor: pointer;
      text-align: left;
      padding-left: 50px;
      color: #FFFFFF;
      width: 170px;
      height: 52px;
      border-radius: 55px;
      border: 1px solid white;
      background: url("../src/image/svg/arrow-right.svg") 69% 55% no-repeat;
      transition: all .3s ease-in-out;
    }
  }
  &__progress {
    margin-top: 40px;
    background: rgba(255,255,255,0.1);
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 3px;
    width: 100%;
    &-value {
      box-shadow: 0 10px 40px -10px #fff;
      border-radius: 100px;
      background: #fff;
      height: .3px;
      transition: 1s all ease-in;
    }
  }
}
.quiz-questions {
  color: #FFFFFF;
  &-item__question {
    font-size: 24px;
    font-weight: 600;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  &-item__answers {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p {
      font-family: 'Golos_regular', sans-serif;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 400;
      margin-top: -14px;
      margin-bottom: 23px;

    }
     .radio {
      display: none;
    }
  }
  &-item__answers-additional {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 64px;
    label {
      width: 618px;
      height: 154px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 18px;

      p {
        font-family: 'Golos_regular', sans-serif;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 400;
        margin-left: 76px;
        margin-right: auto;
      }
    }

    .radio {
      display: none;
    }
  }
  &-item__answers-styles {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-bottom: 26px;
    p {
      font-family: 'Golos_regular', sans-serif;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 400;
      margin-top: -14px;
      margin-bottom: 23px;

    }
    .radio {
      display: none;
    }
  }
}
.custom-radio__button-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7%;
  right: 50%;
  left: 46%;
  width: 24px;
  height: 24px;
  border: 6px solid #1E262F;
  border-radius: 50%;
  background: #1E262F url("../src/image/quiz/check.svg") 0 0 no-repeat;
}
.custom-radio__button-styles::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  background: white url("../src/image/quiz/checked.svg") 0 0 no-repeat;
  opacity: 0;
  transition: .3s;
}
.radio:checked + .custom-radio__button-styles::before {
  opacity: 1;
}




.custom-radio__button-additional {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -91%;
  width: 24px;
  height: 24px;
  border: 6px solid #1E262F;
  border-radius: 50%;
  background: #1E262F url("../src/image/quiz/check.svg") 0 0 no-repeat;
}

.custom-radio__button-additional::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  background: white url("../src/image/quiz/checked.svg") 0 0 no-repeat;
  opacity: 0;
  transition: .3s;
}
.radio:checked + .custom-radio__button-additional::before {
  opacity: 1;
}

.custom-radio__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7%;
  right: 50%;
  left: 46%;
  width: 24px;
  height: 24px;
  border: 6px solid #1E262F;
  border-radius: 50%;
  background: #1E262F url("../src/image/quiz/check.svg") 0 0 no-repeat;
}
.custom-radio__button::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  background: white url("../src/image/quiz/checked.svg") 0 0 no-repeat;
  opacity: 0;
  transition: .3s;
}
.radio:checked + .custom-radio__button::before {
  opacity: 1;
}

.quiz-feedback-form {
  display: none;
  flex-direction: column;
  color: #FFFFFF;
  font-weight: 400;
  margin: 0 auto;
  width: 564px;
  padding-top: 84px;
  &__submit-button {
    width: 270px;
    height: 64px;
    border: 1px solid #FFFFFF;
    background: inherit;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    margin-top: -30px;
  }
  &__subtitle {
    letter-spacing: 2px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
    gap: 24px;
    .form-radio {
      display: none;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    margin-top: -74px;
    input {
      background-color: inherit;
      border: none;
      outline: none;
      font-family: 'Golos_regular', sans-serif;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 18px;
      height: 34px;
      color: #FFFFFF;
      &::placeholder {
        color: white;
        padding-bottom: 8px;
        &:focus {
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    input[type="email"]::placeholder, input[type="email"] {
      color: rgba(255, 255, 255, 0.25);
    }

    label {
      margin-top: 60px;

    }

  }
}

.custom-radio__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  bottom: -59px;
  left: 0;
  height: 66px;
  border: 2px solid #1E262F;
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid #A0A0A0;
    opacity: 0;
    transition: .3s;

  }
}

.form-radio:checked + .custom-radio__form-button::before {
  opacity: 1;
}

//FOOTER
.footer {
  padding-top: 72px;
  background: linear-gradient(0deg, #1E262F, #1E262F), #181C1D;
  &-border {
    //position: static;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.05);
    margin-top: 84px;
    margin-bottom: 32px;
  }
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 70px;
  font-size: 14px;
  font-weight: 400;
  &-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    &__title {
      font-size: 16px;
      padding-bottom: 12px;
    }
    &__link {
      font-size: 16px;
    }
  }
}

//FOOTER CONTACTS

.footer-bottom__wrapper {
  background: url("../src/image/socials/ecoground.svg") no-repeat 100% 80%;
}

.footer-contacts {
  &__title {
    margin-bottom: 24px;
  }
  &__phone {
    max-width: 132px;
    display: flex;
    margin-top: 12px;
  }
  &__socials {
    max-width: 215px;
    cursor: pointer;
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  &__copyright {
    color: rgba(255, 255, 255, 0.25);
    padding-bottom: 24px;
  }
}
