@import 'normalize.css';

//Fonts

@font-face {
  font-family: 'Golos_regular';
  src: url("fonts/Golos/golos-text_regular.ttf");
}
@font-face {
  font-family: 'Golos_bold';
  src: url("fonts/Golos/golos-text_bold.ttf");
}
@font-face {
  font-family: 'Golos_demibold';
  src: url("fonts/Golos/golos-text_demibold.ttf");
}
@font-face {
  font-family: 'Golos_medium';
  src: url("fonts/Golos/golos-text_medium.ttf");
}

body {
  font-family: 'Golos_regular', sans-serif;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
li {
  list-style-type: none;
}

//Variables

//Styles
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  background: url("../src/image/background/background.png") 0 0/100% auto no-repeat;
}
//
.container {
  width: 1380px;
  margin: 0 auto;
}


//HEADER


.header {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-rows: 1fr 8fr;
  //grid-template-areas:
  //        "header-logo . header-nav"
  //        ". header-text . "
  //        " . .  header-circle";
  min-height: 800px;
  align-items: center;
  //grid-column-gap: 20px;
  color: white;
  //&-logo, &-nav, &-text {
  //  position: relative;
  //}
  &-logo {
    grid-area: header-logo;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1/2;
  }
  &-nav {
    grid-area: header-nav;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    padding-right: 20px;
    &__link {
      margin-left: 20px;
    }
  }
  &-text {
    grid-area: header-text;
    grid-column: 2 / 3;
    grid-row: 2/3;
    //align-self: self-start;
    padding-bottom: 56px;
  }
  &-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 81px;
  }
  &-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }
  &-circle {
    grid-area: header-circle;
    justify-self: end;
    //position: relative;
    //bottom: 12%;
    //right: 18%;
    img{
      position: absolute;
      right: 10%;
      bottom: -14%;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 253px;
    height: 64px;
    margin-top: 46px;
    background-color: #25252C;
    border-radius: 55px;
    border: 0;
    transition: .3s ease-in-out all;
    &:hover {
      background-color: #38384e;
    }
    img {
      margin-right: 10px;
      padding-top: 4px;
    }
  }
  span {
    font-size: 14px;
    font-weight: 600;
  }

  //position: relative;
  //display: flex;
  //padding: 52px 42px;
  //align-items: center;
  //background-color: transparent;
  //justify-content: space-between;
  //z-index: 2;
  //.header-logo {
  //  font-family: 'Golos_bold', sans-serif;
  //  font-size: 20px;
  //  line-height: 26px;
  //  color: white;
  //}
  //nav {
  //  font-weight: 400;
  //  font-size: 16px;
  //  ul {
  //    margin: 0;
  //  }
  //  li {
  //    margin-left: 18px;
  //    display: inline;
  //  }
  //}
}




