@import 'normalize.css';
@font-face {
  font-family: "Golos_regular";
  src: url("fonts/Golos/golos-text_regular.ttf");
}
@font-face {
  font-family: "Golos_bold";
  src: url("fonts/Golos/golos-text_bold.ttf");
}
@font-face {
  font-family: "Golos_demibold";
  src: url("fonts/Golos/golos-text_demibold.ttf");
}
@font-face {
  font-family: "Golos_medium";
  src: url("fonts/Golos/golos-text_medium.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Golos_regular", sans-serif;
  margin: 0;
  font-size: 16px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  background: url("../src/image/background/background.png") 0 0/100% auto no-repeat;
  min-height: 800px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 12px;
}
.header-top__logo {
  font-weight: 600;
  font-size: 20px;
}
.header-top__nav-link {
  font-size: 16px;
  margin-left: 18px;
}
.header-content {
  display: flex;
  height: 690px;
  align-items: center;
  justify-content: space-between;
  padding-left: 98px;
  padding-right: 98px;
}
.header-content__text {
  width: 466px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}
.header-content__text span {
  font-size: 14px;
  padding-top: 4px;
  letter-spacing: 1px;
}
.header-content__text-title {
  font-size: 72px;
  font-weight: 600;
}
.header-content__text-subtitle {
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
}
.header-content__text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 64px;
  margin-top: 46px;
  background-color: #25252C;
  border-radius: 55px;
  border: 0;
  font-size: 14px;
  transition: 0.3s ease-in-out all;
}
.header-content__text-button:hover {
  background-color: #38384e;
}
.header-content__text-button img {
  margin-right: 10px;
  padding-top: 4px;
}
.header-content__circle {
  position: relative;
  margin-top: auto;
  margin-bottom: 19px;
}
.header-content__circle-arrow img {
  position: absolute;
  right: 110px;
  top: 74px;
  height: 80px;
  width: 8px;
}
.header-content__circle svg {
  animation: 25s linear 0s normal none infinite running rotation;
  width: 227px;
  height: 227px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  background: linear-gradient(0deg, #1E262F, #1E262F), #181C1D;
}

.about-body {
  height: 800px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 6fr 0.5fr;
}
.about-body__label {
  align-self: center;
  width: 60px;
  padding-top: 84px;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.1);
  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09), 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.about-body__links {
  margin: 0 auto;
  align-self: center;
}
.about-body__links .link {
  line-height: 123%;
  transition: 0.3s;
  font-size: 24px;
  opacity: 0.25;
  display: block;
}
.about-body__links .link:hover {
  transform: scale(1.2);
  opacity: 1;
}
.about-body__links .link.active {
  transform: scale(1.2);
  opacity: 1;
}

.description-content__author {
  align-self: center;
  margin-right: 10px;
  margin-left: auto;
}

.description-title__author {
  align-self: center;
  font-size: 62px;
  color: white;
  font-weight: 700;
}
.about-body__author {
  display: none;
  opacity: 0;
  animation: fadeout 3s ease-in-out 0.1s forwards;
  margin-left: 60px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.about-body__why {
  display: none;
  opacity: 0;
  animation: fadeout 3s ease-in-out 0.1s forwards;
  margin-left: 60px;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
}
.about-body__why .description-content__ul li {
  padding-top: 6px;
  list-style-type: circle;
  color: white;
}

.about-body__description {
  transition: 0.2s;
  display: grid;
  margin-left: 60px;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
  opacity: 0;
  animation: fadeout 3s ease-in-out 0.1s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.description-title {
  font-size: 56px;
  margin-top: 231px;
  margin-bottom: 317px;
  color: white;
}

.description-content__why {
  align-self: center;
  grid-row-gap: 10px;
}
.description-content__why img {
  padding-left: 20px;
}

.description-content {
  display: grid;
  grid-row-gap: 44px;
}
.description-content__video {
  align-self: end;
  margin-right: 10px;
  margin-left: auto;
}
.description-content__subtitle p {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09), 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
