@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oranienbaum&display=swap");
@font-face {
  font-family: "Golos_regular";
  src: url("fonts/Golos/golos-text_regular.ttf");
}
@font-face {
  font-family: "Golos_bold";
  src: url("fonts/Golos/golos-text_bold.ttf");
}
@font-face {
  font-family: "Golos_demibold";
  src: url("fonts/Golos/golos-text_demibold.ttf");
}
@font-face {
  font-family: "Golos_medium";
  src: url("fonts/Golos/golos-text_medium.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Golos_regular", sans-serif;
  margin: 0;
  font-size: 16px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 100%;
  background: linear-gradient(0deg, #1E262F, #1E262F), #181C1D;
}

.container {
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  background: url("../src/image/background/background.png") 0 0/100% auto no-repeat;
  min-height: 800px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 12px;
}
.header-top__logo {
  font-weight: 600;
  font-size: 20px;
}
.header-top__nav-link {
  font-size: 16px;
  margin-left: 18px;
}
.header-content {
  display: flex;
  height: 690px;
  align-items: center;
  justify-content: space-between;
  padding-left: 98px;
  padding-right: 98px;
}
.header-content__text {
  width: 466px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}
.header-content__text span {
  font-size: 14px;
  padding-top: 4px;
  letter-spacing: 1px;
}
.header-content__text-title {
  font-size: 72px;
  font-weight: 600;
}
.header-content__text-subtitle {
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
}
.header-content__text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 64px;
  margin-top: 46px;
  background-color: #25252C;
  border-radius: 55px;
  border: 0;
  font-size: 14px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.header-content__text-button:hover {
  background-color: #38384e;
}
.header-content__text-button img {
  margin-right: 10px;
  padding-top: 4px;
}
.header-content__circle {
  position: relative;
  margin-top: auto;
  margin-bottom: 19px;
}
.header-content__circle-arrow img {
  position: absolute;
  right: 110px;
  top: 74px;
  height: 80px;
  width: 8px;
}
.header-content__circle svg {
  animation: 25s linear 0s normal none infinite running rotation;
  width: 227px;
  height: 227px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  height: 800px;
  padding-left: 60px;
  padding-right: 138px;
}
.about-label {
  text-align: center;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.1);
  margin-top: auto;
  margin-bottom: auto;
}
.about-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-right: auto;
  margin-left: 44px;
  cursor: pointer;
}
.about-tabs__tab {
  line-height: 123%;
  transition: 0.3s;
  opacity: 0.25;
  padding: 5px;
}
.about-tabs__tab:hover {
  transform: scale(1.2);
  opacity: 1;
}
.about-tabs__tab.active {
  transform: scale(1.3);
  opacity: 1;
}
.about-content {
  display: none;
}
.about-content.active {
  display: flex;
  opacity: 0;
  animation: fadeout 1s ease-in-out 0.1s forwards;
}
.about-content__about-title {
  font-family: "Oranienbaum", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  font-size: 56px;
  font-weight: 400;
  padding-bottom: 148px;
}
.about-content__about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 33px;
  gap: 16px;
  width: 455px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.about-content__about-description p {
  margin: 0;
  line-height: 114%;
}
.about-content__about-video {
  margin-left: auto;
  padding-bottom: 28px;
}
.about-content__author-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding-left: 10px;
}
.about-content__author-title {
  font-family: "Oranienbaum", serif;
  font-size: 56px;
  font-weight: 400;
}
.about-content__author-photo {
  width: 290px;
  height: 380px;
  padding-top: 172px;
  padding-bottom: 247px;
}
.about-content__why-description {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
}
.about-content__why-description li {
  color: rgba(255, 255, 255, 0.8);
  list-style-type: disc;
  font-size: 16px;
  font-weight: 300;
}
.about-content__why-photo {
  margin-right: auto;
  margin-left: 20px;
}

.advantages {
  height: 566px;
  padding-left: 98px;
  padding-right: 98px;
  background: white url("/src/image/advantages/houseBg.png") no-repeat 100% 100%;
}
.advantages__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #1F252D;
  padding-top: 50px;
  padding-bottom: 55px;
}
.advantages__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
}
.advantages-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.advantages-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #A0A0A0;
}
.advantages-item__description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #1F252D;
  margin-left: 24px;
}

.projects {
  height: 800px;
  background: #FAFAFA;
}
.projects__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #1F252D;
  padding-top: 50px;
  padding-bottom: 55px;
}
.projects-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 64px;
  margin: 44px auto 60px;
  background-color: #25252C;
  border-radius: 55px;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.projects-button:hover {
  background-color: #38384e;
}

.swiper-wrapper {
  width: 1400px;
}

.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #25252C;
  margin-left: 52px;
  transition: all 0.3s ease-in-out;
}
.swiper-button-prev:hover {
  background-color: #38384e;
}
.swiper-button-prev:after {
  content: "";
}
.swiper-button-prev img {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #25252C;
  margin-right: 52px;
  transition: all 0.3s ease-in-out;
}
.swiper-button-next:hover {
  background-color: #38384e;
}
.swiper-button-next:after {
  content: "";
}
.swiper-button-next img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  max-width: 380px;
  height: 481px;
  border-radius: 12px;
  background-color: white;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.swiper-slide:hover {
  box-shadow: 5px 2px 10px 0 rgba(34, 60, 80, 0.2);
}

.slide-inner {
  padding: 18px 18px 21px 18px;
  color: #1F252D;
}
.slide-inner__title {
  font-size: 20px;
  margin-bottom: 8px;
}
.slide-inner__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slide-inner__description-item {
  display: flex;
  align-items: center;
}
.slide-inner__description-item:nth-child(even) {
  padding-left: 32px;
}
.slide-inner__description-item p {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.slide-inner__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.slide-inner__price p {
  margin: 0 0 8px;
}
.slide-inner__price-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1F252D;
  border-radius: 50%;
  cursor: pointer;
  width: 52px;
  height: 52px;
  transition: all 0.3s ease-in-out;
}
.slide-inner__price-button:hover {
  background: #dcd9d9;
}

.building {
  height: 600px;
  background: #FAFAFA;
}
.building-buttons {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.building-buttons__button.active .building-buttons__button-image {
  background-color: #25252C;
  box-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09), 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 28px rgba(0, 0, 0, 0.1);
}
.building-buttons__button.active p {
  color: #25252C;
}
.building-buttons__button-image {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #A0A0A0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.building-buttons__button-image:hover {
  background-color: #25252C;
}
.building-buttons p {
  color: #25252C;
  text-align: center;
  margin-top: 8px;
}
.building-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 54px;
}
.building-content__description {
  color: #020202;
  width: 455px;
}
.building-content__description h2 {
  font-family: "Oranienbaum", serif;
  font-size: 56px;
}
.building-content__description h4 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 42px;
}
.building-content__description p {
  color: rgba(2, 2, 2, 0.8);
  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09), 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
